@page
@model SupermarketWEB.Pages.Providers.DeleteModel
@{
	ViewData["title"] = "Delete";
}
<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Provider</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Provider.IdDocument)

		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Provider.IdDocument)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Provider.Name)

		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Provider.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Provider.Description)

		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Provider.Description)
		</dd>
	</dl>
	<form method="post">
		<input type="hidden" asp-for="Provider.Id" />
		<input type="submit" value="Delete" class="btn btn-danger" />
		<a asp-page="./index" class"btn btn-prymary">Back to list</a>
	</form>
</div>
