@page
@model SupermarketWEB.Pages.PayModes.IndexModel
@{
	ViewData["Title"] = "Index Pay Mode";
}

<h1>Index Pay Mode</h1>
<p>
	<a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.PayModes[0].Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PayModes[0].Description)
			</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.PayModes)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<a a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
					<a a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
				</td>

			</tr>
		}
	</tbody>
</table>